.error-indicator{
    text-align: center;
    color: #fd7e14;
    margin: 0 auto;
}
img{
    max-width: 120px;
    margin-bottom: 1rem;
}
.error-indicator span{
    display: block;
}

.boom{
    font-size: 1.3rem;
}