.random-planet{
    padding:2rem;
    display: flex;
}
.random-planet .planet-img{
    margin-right: 2.5rem;
}
.random-planet .planet-img img{
    max-width: 190px;
    border-radius: 0.3rem;
}

.random-planet .planet-info .planet-name{
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.2rem;
}
.random-planet .planet-info .info-list{
    padding-left: 1.25rem;
}
.random-planet .planet-info .info-list li{
    font-size: 1.2rem;
    padding: 0.4rem 1.25rem 0.4rem 0;
}