.spinner{
    margin: 0 auto;
}
@keyframes ldio-91d8ciko2rs {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
  }
  .ldio-91d8ciko2rs div { box-sizing: border-box!important }
  .ldio-91d8ciko2rs > div {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 28px;
    left: 28px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #85a2b6 transparent #85a2b6 transparent;
    animation: ldio-91d8ciko2rs 1s linear infinite;
  }
  .ldio-91d8ciko2rs > div:nth-child(2) { border-color: transparent }
  .ldio-91d8ciko2rs > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-91d8ciko2rs > div:nth-child(2) div:before, .ldio-91d8ciko2rs > div:nth-child(2) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 48px;
    background: #85a2b6;
    border-radius: 50%;
    box-shadow: 0 128px 0 0 #85a2b6;
  }
  .ldio-91d8ciko2rs > div:nth-child(2) div:after { 
    left: -16px;
    top: 48px;
    box-shadow: 128px 0 0 0 #85a2b6;
  }
  .loadingio-spinner-dual-ring-aiwvifvd0tb {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-91d8ciko2rs {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-91d8ciko2rs div { box-sizing: content-box; }