.item-details{
    background-color: #303030;
    border-radius: 0.3rem;
    display: flex;
    padding: 0.7rem;
}

.item-details .item-img{
    margin-right: 1.5rem;
}
.item-details .item-img img{
    max-width: 180px;
    border-radius: 0.5rem;
}

.item-info .item-name{
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}
.item-info .info-list{
    padding-left: 1.25rem;
}
.item-info .info-list li{
    font-size: 1.2rem;
    padding: 0.4rem 1.25rem 0.4rem 0;
}

@media (max-width: 991px){
    .item-details{
        flex-direction: column;
    }
}