.header{
    padding: 1.5rem 0;
}
.header h3 a{
    color: #ffffff;
    text-decoration: none;
    font-size: 2.3rem;
}
.header .nav-menu-list{
    list-style: none;
    align-items: center;
    margin-bottom: 0.5rem;
}
.header .nav-menu-list li{
    margin-right: 2rem;
}
.header .nav-menu-list li a{
    font-size: 1.3rem;
    text-decoration: none;
}