.item-list{
    margin-bottom: 1rem;
}
.item-list a, .item-list span{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.item-list a:hover, .item-list span:hover{
    color: #a9a6a6;
}